.flex-container {
    padding: 0;
    margin: 0;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  
  .flex-item {
    position: relative;
    flex: auto;
    flex-direction: column;
    justify-content: center;
    margin: $content-margin;
    width: 340px;
    //background: $primary-color;
    line-height: 0;
    overflow: hidden;

    &--start {
      align-self: flex-start;
    }

    &--end {
      align-self: flex-end;
    }
  }