.flex-container {
    padding: 0;
    margin: 0;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  
  .flex-item {
    position: relative;
    flex: auto;
    flex-direction: column;
    justify-content: center;
    margin: $content-margin;
    width: 340px;
    //background: $primary-color;
    line-height: 0;
    overflow: hidden;

    &--start {
      align-self: flex-start;
    }

    &--end {
      align-self: flex-end;
    }
  }

  // 1. Add horizontal and vertical spacing between items.
  // 2. Add vertical spacing between rows.
  // 3. Make the order of image / text alternate.
  // 4. Take all the available space.
  // 5. Require at least this amount of space or wrap.
  // 6. Prevent images from sticking to the right in single column mode.
  // 7. (Try to) take as much space as the content needs.
  .project-layout {
    display: flex;
    flex-wrap: wrap;
    margin-top: -1em; // 1
    margin-left: -3.5em; // 1
    align-items: center;
    
    &:nth-child(even) {
      flex-direction: row-reverse; // 3
    }

    &.reverse {
      flex-direction: row-reverse;
    }
    
    &__item {
      padding-top: 1em; // 1
      padding-left: 3.5em; // 1
      
      &--body {
        flex-grow: 9999; // 4
        flex-basis: $small-breakpoint; // 5
      }
      
      &--figure {
        margin-right: auto; // 6
        flex-grow: 1; // 7
  
        // By using `max-content` we can get a little
        // nicer responsive behavior because the image
        // automatically shrinks if not enough space is
        // available, but also the column is not getting
        // to large than the image if a lot of space
        // is available.
        @supports (max-width: max-content) {
          min-width: 300px; // 5
          max-width: max-content;
          flex-basis: $small-breakpoint; // 5
          flex-grow: 99999;
        }
      }
    }

    img {
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
      vertical-align: middle;
    }
  } 
  

/*
  .layout {
    &__item {
      * + * {
        margin-top: 1em;
      }
    }
  }
*/
