// Spacing helpers
.content-margin {
    margin: 1rem $content-margin;

    &--edges {
        margin: 0 $content-margin;
    }

    &--topbottom {
        margin: 1em 0;
    }
}

.content-padding {
    padding: 1rem $content-margin;

    &--edges {
        padding: 0 $content-margin;
    }

    &--topbottom {
        padding: 1em 0;
    }
}

.full-width {
    width: 100%;
}

.width {
    &--60 {
        width: 60%;
    }
}

.full-height {
    height: 100%;
}

.center {
    margin: 0 auto;
}

.extend {
    &--1 {
        margin-bottom: 1rem;
    }
    &--2 {
        margin-bottom: 2rem;
    }
    &--3 {
        margin-bottom: 3rem;
    }
}

.lower {
    &--0-5 {
        margin-top: 0.5rem;
    }
    &--1 {
        margin-top: 1rem;
    }
    &--2 {
        margin-top: 2rem;
    }
    &--3 {
        margin-top: 3rem;
    }
}

.raise {
    &--0-5 {
        margin-top: -0.5rem;
    }
    &--1 {
        margin-top: -1rem;
    }
    &--2 {
        margin-top: -3rem;
    }
    &--3 {
        margin-top: -3rem;
    }
}

.shorten {
    &--1 {
        margin-bottom: -1rem;
    }
    &--2 {
        margin-bottom: -2rem;
    }
    &--3 {
        margin-bottom: -3rem;
    }
}


// Font helpers
.font-80 {
    font-size: 80%;
}

.light-text {
    color: $light-text;
}

.lightish-text {
    color: $lightish-text;
}

.dark-text {
    color: $dark-text;
}

.theme-text {
    color: $primary-color;
}

.text-center {
    text-align: center;
}

.i-text {
    font-style: italic;
}