p a,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    line-height: inherit;
    color: $primary-color;
    font-weight: bold;
    text-decoration: none;
}

p a:hover,
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
    line-height: inherit;
    color: $primary-color;
    font-weight: bold;
    text-decoration: underline;
}