nav {
  margin: 2vw $content-margin;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .logo {
    width: 4rem;
    height: 4rem;
  }

  .menu {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    text-align: right;
  }

  .menu__item {
    display: inline-block;
    font-family: $default-font;
    font-size: 0.75rem;
    font-weight: 700;
    padding: 2vw;
  }

  a {
    color: $dark-text;
    text-decoration: none;

    &:hover {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 8'%3E%3Cstyle type='text/css'%3E.menu__item--squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9600' stroke-width='2' class='menu__item--squiggle' d='M0,5.5 c 5,0,5,-5,10,-5 s 5,5,10,5 c 5,0,5,-5,10,-5 s 5,5,10,5'/%3E%3C/svg%3E");
      background-position: bottom;
      background-repeat: repeat-x;
      background-size: 20%;
      border-bottom: 0;
      padding-bottom: .3em;
      text-decoration: none;
    }
  }
}