nav {
  margin: 2vw $content-margin;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .logo {
    width: 4rem;
    height: 4rem;
  }

  .menu {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    text-align: right;
  }

  .menu__item {
    display: inline-block;
    font-family: $default-font;
    font-size: 0.9rem;
    font-weight: 700;
    padding: 2vw;
  }

  a {
    color: $dark-text;
    text-decoration: none;

    &:hover {
      color: $primary-color;
    }
  }
}