.work-content {
    position: relative;
    //cursor: pointer;

    //border: 2px solid $primary-color;

    &--overlay {
        display: flex;
        align-items: center;
        padding: 2vw;
        box-sizing: border-box;
        background: rgba(0, 0, 0, 0.3);
        position: absolute;
        top: 0;
        z-index: 3;
        //backdrop-filter: blur(2px);
        opacity: 0;
        transition: opacity 0.2s;
    }

    &:hover {
        img {
            filter: blur(2px);
        }
        & .work-content--overlay {
            opacity: 1;
        }
    }
}

.experience {
    &-wrapper {
        display: inline-block;
        padding-right: 2em;
    }

    img {
        display: block;
    }
}

.knowledge-background {
    background: $primary-color;

    h1,
    h2 {
        color: $light-text;
    }

    h3,
    h4,
    h5,
    h6 {
        color: $light-text;
    }
}

.knowledge-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.knowledge {
    display: inline-block;
    min-width: 240px;
    width: 32px;

    color: $lightish-text;

    @media only screen and (min-width: 620px) {
        padding-top: 0;
    }

    ul {
        padding-inline-start: 0;
    }
    
    li {
        list-style-type: none;
    }

    &__list {

        &--item {
            font-family: $default-font;
        }
    }

    &__disclaimer {
        flex-basis: 100%;
        text-transform: uppercase;
        font-size: 12px;
        padding: 6% 0 0;
        color: $primary-color;

        p {
            margin: 0;
        }
    }
}

.project {
    header {
        align-items: center;
        display: flex;
        font-size: 18px;
        height: 50vh;
        justify-content: center;
        overflow: hidden;
        position: relative;
        margin-bottom: 3rem;

        img {
            margin-top: -3rem;
            max-width: 80vw;
        }
      }
      
      header:before {
        animation: fade-slide-down 2s .1s cubic-bezier(0, 0.5, 0, 1) forwards;
        background: $primary-color;
        content: "";
        opacity: 0;
        position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
        z-index: -1;
      }

      &--vegas {
        header:before {
          background: url("../assets/v-games.jpg");
          background-repeat: no-repeat;
          background-size: cover;
        }
      }

      &--poker {
        header:before {
          background: url("../assets/p-cards.jpg");
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
      
      header:after {
        animation: rotate-up 2s 1s cubic-bezier(0, 0.5, 0, 1) forwards;
        background: #fff;
        content: "";
        height: 40rem;
        left: -5%;
        position: absolute;
          right: -5%;
          top: 90%;
        transform-origin: 0 0;
        z-index: 0;
      }
      
      .header-title, .header-subtitle {
        color: #fff;
      }
      
      .header-subtitle {
        text-transform: uppercase;
        margin-bottom: 5rem;
      }
      
      .header-button {
        transform: translateZ(.1px);
        position: relative;
        z-index: 10;
      }

      .site-wrapper {
        padding: 0 6rem;

        @media only screen and (max-width: $medium-breakpoint) {
            padding: 0 2rem;
        }
      }
      
      .animate-pop-in {
        animation: pop-in 2s .5s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
        opacity: 0;
      }
      
      .animate-logo {
        animation-delay: .6s;
      }
      
      
      /* Animations */
      
      @keyframes fade-slide-down {
        0% {
          opacity: 0;
          transform: translateY(-4rem);
        }
        100% {
          opacity: 1;
          transform: none;
        }
      }
      
      @keyframes pop-in {
        0% {
          opacity: 0;
          transform: translateY(-4rem) scale(.8);
        }
        100% {
          opacity: 1;
          transform: none;
        }
      }
      
      @keyframes rotate-up {
        100% {
          transform: rotateZ(-4deg);
        }
      }
}