.work-content {
    //cursor: pointer;

    //border: 2px solid $primary-color;

    &--overlay {
        display: flex;
        align-items: center;
        padding: 2vw;
        box-sizing: border-box;
        background: rgba(0, 0, 0, 0.3);
        position: absolute;
        top: 0;
        z-index: 3;
        //backdrop-filter: blur(2px);
        opacity: 0;
        transition: opacity 0.2s;
    }

    &:hover {
        img {
            filter: blur(2px);
        }
        & .work-content--overlay {
            opacity: 1;
        }
    }
}
.knowledge-background {
    background: $primary-color;

    h1,
    h2 {
        color: $light-text;
    }

    h3,
    h4,
    h5,
    h6 {
        color: $light-text;
    }
}

.knowledge-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.knowledge {
    display: inline-block;
    min-width: 240px;
    width: 32px;

    color: $lightish-text;

    @media only screen and (min-width: 620px) {
        padding-top: 0;
    }

    ul {
        padding-inline-start: 0;
    }
    
    li {
        list-style-type: none;
    }

    &__list {

        &--item {
            font-family: $default-font;
        }
    }

    &__disclaimer {
        flex-basis: 100%;
        text-transform: uppercase;
        font-size: 12px;
        padding: 6% 0 0;
        color: $primary-color;

        p {
            margin: 0;
        }
    }
}
