/*

@import "./gradients";
@import "./hero";
@import "./gallery";
@import "./story";
@import "./about";
@import "./anim-logo";
@import "./footer";
*/

@import "./reset";
@import "./variables";
@import "./fonts";
@import "./nav";
@import "./hero";
@import "./slideshow";
@import "./flex";
@import "./modules";
@import "./helper";

.site-wrapper {
    max-width: $max-site-width;
    margin: 0 auto;
    padding: 0 $site-padding;
}