$primary-color: #fa6900;
$secondary-color: #fa9600;
$dark-text: #1f1f1f;
$light-text: #f1f1f1;

$max-site-width: 1400px;
$inner-width: 1000px;
$inner-width-thin: 700px;

$m-breakpoint: 500px;
$l-breakpoint: 769px;
$xl-breakpoint: 1025px;

$default-font: 'Aleo', Arial, sans-serif;
$default-font-size: 1em;